In [4]:
import pandas as pd

df =pd.read_csv('../data/GNI2014.csv')
df

    iso3                   country      continent  population     GNI
0    BMU                   Bermuda  North America       67837  106140
1    NOR                    Norway         Europe     4676305  103630
2    QAT                     Qatar           Asia      833285   92200
3    CHE               Switzerland         Europe     7604467   88120
4    MAC          Macao SAR, China           Asia      559846   76270
..   ...                       ...            ...         ...     ...
183  COD          Congo, Dem. Rep.         Africa    68692542     380
184  LBR                   Liberia         Africa     3441790     370
185  CAF  Central African Republic         Africa     4511488     320
186  BDI                   Burundi         Africa     8988091     270
187  MWI                    Malawi         Africa    14268711     250

[188 rows x 5 columns]

In [5]:
df.iloc[:5]

  iso3           country      continent  population     GNI
0  BMU           Bermuda  North America       67837  106140
1  NOR            Norway         Europe     4676305  103630
2  QAT             Qatar           Asia      833285   92200
3  CHE       Switzerland         Europe     7604467   88120
4  MAC  Macao SAR, China           Asia      559846   76270

In [6]:
# show the number of columns and rows respectively
df.shape

(188, 5)

In [7]:
# show the unique content
df['continent'].unique()

array(['North America', 'Europe', 'Asia', 'Oceania', 'South America',
       'Seven seas (open ocean)', 'Africa'], dtype=object)

In [8]:
#show the population of Norway
df[df['country'] == 'Norway']['population'], df[df['country'] == 'Norway']['GNI']

(1    4676305
 Name: population, dtype: int64,
 1    103630
 Name: GNI, dtype: int64)

In [9]:
# show a list of countries belonging to the European continent
df[df['continent'] == 'Europe']['country']

1                      Norway
3                 Switzerland
5                  Luxembourg
7                      Sweden
8                     Denmark
11                Netherlands
13                    Austria
15                    Finland
16                    Germany
17                    Iceland
18                    Belgium
19                    Ireland
21             United Kingdom
22                     France
24                    Andorra
29                      Italy
30                      Spain
34                   Slovenia
35                     Greece
36                   Portugal
39                      Malta
42                    Estonia
43             Czech Republic
45            Slovak Republic
47                  Lithuania
48                     Latvia
53                     Poland
55                    Hungary
57         Russian Federation
58                    Croatia
73                    Romania
78                   Bulgaria
81                    Belarus
82                 Montenegro
94                     Serbia
101            Macedonia, FYR
103    Bosnia and Herzegovina
105                   Albania
113                    Kosovo
118                   Ukraine
134                   Moldova
Name: country, dtype: object

In [10]:
# list of countries with a population of more than 50 mil people
df[df['population'] > 50000000]['country']

9           United States
16                Germany
21         United Kingdom
22                 France
23                  Japan
29                  Italy
57     Russian Federation
61                 Brazil
65                 Turkey
70                 Mexico
80                  China
91     Iran, Islamic Rep.
95               Thailand
117             Indonesia
120           Philippines
128      Egypt, Arab Rep.
129               Nigeria
139               Vietnam
147                 India
149              Pakistan
157            Bangladesh
177              Ethiopia
183      Congo, Dem. Rep.
Name: country, dtype: object

In [11]:
#show the average population of European Countries
df[df['continent'] == 'Europe']['population'].mean()

np.float64(17772437.780487806)

In [13]:
#show the average GDP of countries with a GDP greater than 'Canada'
canada_gdp = df[df['country'] == 'Canada']['GNI'].values[0]
avg_gdp_above_canada = df[df['GNI'] > canada_gdp]['GNI'].mean()
avg_gdp_above_canada

np.float64(74337.5)

In [14]:
# 9. how the population of the countries in North America when the population increases by 10%
north_america_pop = df[df['continent'] == 'North America'][['country', 'population']]
north_america_pop['Increased_Population'] = north_america_pop['population'] * 1.10
north_america_pop

                            country  population  Increased_Population
0                           Bermuda       67837               74620.7
9                     United States   313973000           345370300.0
12                           Canada    33487208            36835928.8
38                     Bahamas, The      309156              340071.6
40              Trinidad and Tobago     1310000             1441000.0
41                      Puerto Rico     3971020             4368122.0
49                         Barbados      284589              313047.9
50              St. Kitts and Nevis       40131               44144.1
56              Antigua and Barbuda       85632               94195.2
62                           Panama     3360474             3696521.4
67                       Costa Rica     4253877             4679264.7
70                           Mexico   111211789           122332967.9
76                          Grenada       90739               99812.9
83                        St. Lucia      160267              176293.7
85                         Dominica       72660               79926.0
87   St. Vincent and the Grenadines      104574              115031.4
93               Dominican Republic     9650054            10615059.4
100                         Jamaica     2825928             3108520.8
104                          Belize      307899              338688.9
115                     El Salvador     7185218             7903739.8
123                       Guatemala    13276517            14604168.7
136                        Honduras     7792854             8572139.4
140                       Nicaragua     5891199             6480318.9
166                           Haiti     9035536             9939089.6

In [15]:
# 10. Show the per capita production (total production / population) for European countries
european_per_capita = df[df['continent'] == 'Europe'].copy()
european_per_capita['PerCapitaProduction'] = european_per_capita['GNI'] / european_per_capita['population']
european_per_capita[['country', 'PerCapitaProduction']]

                    country  PerCapitaProduction
1                    Norway             0.022161
3               Switzerland             0.011588
5                Luxembourg             0.154522
7                    Sweden             0.006800
8                   Denmark             0.011146
11              Netherlands             0.003104
13                  Austria             0.006050
15                  Finland             0.009222
16                  Germany             0.000579
17                  Iceland             0.151128
18                  Belgium             0.004538
19                  Ireland             0.011075
21           United Kingdom             0.000698
22                   France             0.000671
24                  Andorra             0.546214
29                    Italy             0.000590
30                    Spain             0.000726
34                 Slovenia             0.011757
35                   Greece             0.002112
36                 Portugal             0.001995
39                    Malta             0.051831
42                  Estonia             0.014646
43           Czech Republic             0.001799
45          Slovak Republic             0.003249
47                Lithuania             0.004340
48                   Latvia             0.006847
53                   Poland             0.000356
55                  Hungary             0.001347
57       Russian Federation             0.000094
58                  Croatia             0.002891
73                  Romania             0.000429
78                 Bulgaria             0.001058
81                  Belarus             0.000761
82               Montenegro             0.010890
94                   Serbia             0.000789
101          Macedonia, FYR             0.002492
103  Bosnia and Herzegovina             0.001032
105                 Albania             0.001223
113                  Kosovo             0.002146
118                 Ukraine             0.000078
134                 Moldova             0.000592

In [16]:
# 11. Add the per capita production for each European country to df as 'PNP'
df['PNP'] = None
df.loc[df['continent'] == 'Europe', 'PNP'] = df.loc[df['continent'] == 'Europe', 'GNI'] / df.loc[df['continent'] == 'Europe', 'population']
df.head()

  iso3           country      continent  population     GNI       PNP
0  BMU           Bermuda  North America       67837  106140      None
1  NOR            Norway         Europe     4676305  103630  0.022161
2  QAT             Qatar           Asia      833285   92200      None
3  CHE       Switzerland         Europe     7604467   88120  0.011588
4  MAC  Macao SAR, China           Asia      559846   76270      None