In [20]:
import pandas as pd

pd.read_csv('../data/iris.csv')

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:

pd.read_csv('../data/iris.csv', header=None)

                0            1             2            3          4
0    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9            3           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  virginica
147           6.3          2.5             5          1.9  virginica
148           6.5            3           5.2            2  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9            3           5.1          1.8  virginica

[151 rows x 5 columns]

In [22]:


df = pd.read_csv('../data/iris.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_Length  150 non-null    float64
 1   Sepal_Width   150 non-null    float64
 2   Petal_Length  150 non-null    float64
 3   Petal_Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [23]:
df.shape[0]
df.shape[1]

5

In [24]:
df.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [25]:
df['Species'] = df['Species'].astype('category')
df.dtypes

Sepal_Length     float64
Sepal_Width      float64
Petal_Length     float64
Petal_Width      float64
Species         category
dtype: object

In [27]:
list(df.columns)

['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

In [29]:
df.head(10)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [30]:
df.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [32]:
df['Species'].unique()

['setosa', 'versicolor', 'virginica']
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [33]:
df.iloc[2,3]

np.float64(0.2)

In [34]:
df.loc[3, 'Petal_Width']

np.float64(0.2)

In [35]:
df.loc[[0,2,4],['Petal_Length', 'Petal_Width']]

   Petal_Length  Petal_Width
0           1.4          0.2
2           1.3          0.2
4           1.4          0.2

In [36]:
df.loc[5:8, 'Petal_Length']

5    1.7
6    1.4
7    1.5
8    1.4
Name: Petal_Length, dtype: float64

In [37]:
df.iloc[5:8]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

In [38]:
df['Petal_Length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal_Length, Length: 150, dtype: float64

In [39]:
#simple
df.Petal_Length

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal_Length, Length: 150, dtype: float64

In [40]:
df.iloc[:5]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [41]:
df.iloc[5:]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

In [43]:
df.iloc[:5, :]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
df.loc[df.Petal_Length >= 6.5].index

Index([105, 117, 118, 122], dtype='int64')

In [48]:
df.loc[df.Petal_Length >= 6.5].index.tolist()

[105, 117, 118, 122]

In [51]:
df.loc[(df.Petal_Length < 1.3) | (df.Petal_Length > 6.5 ), ['Petal_Length', 'Petal_Width']]

     Petal_Length  Petal_Width
13            1.1          0.1
14            1.2          0.2
22            1.0          0.2
35            1.2          0.2
105           6.6          2.1
117           6.7          2.2
118           6.9          2.3
122           6.7          2.0

In [52]:
df.loc[: , df.columns != 'Species']

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [53]:
df.loc[:, ~df.columns.isin(['Species'])]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [54]:
df.loc[:, df.columns != 'Species'] + 10

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0            15.1         13.5          11.4         10.2
1            14.9         13.0          11.4         10.2
2            14.7         13.2          11.3         10.2
3            14.6         13.1          11.5         10.2
4            15.0         13.6          11.4         10.2
..            ...          ...           ...          ...
145          16.7         13.0          15.2         12.3
146          16.3         12.5          15.0         11.9
147          16.5         13.0          15.2         12.0
148          16.2         13.4          15.4         12.3
149          15.9         13.0          15.1         11.8

[150 rows x 4 columns]

In [55]:
df['Sepal_Length'] + df['Sepal_Width']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

In [56]:
df['Petal_Length'].apply(lambda x: -1 if x >= 5 else 1)

0      1
1      1
2      1
3      1
4      1
      ..
145   -1
146   -1
147   -1
148   -1
149   -1
Name: Petal_Length, Length: 150, dtype: int64

In [58]:
df.loc[:, df.columns != 'Species'].sum()

Sepal_Length    876.5
Sepal_Width     458.6
Petal_Length    563.7
Petal_Width     179.9
dtype: float64

In [59]:
df.loc[:, df.columns != 'Species'].sum().describe()

count      4.000000
mean     519.675000
std      287.772762
min      179.900000
25%      388.925000
50%      511.150000
75%      641.900000
max      876.500000
dtype: float64

In [65]:
df.loc[:, df.columns != 'Species'].mean() # same as axis=0

Sepal_Length    5.843333
Sepal_Width     3.057333
Petal_Length    3.758000
Petal_Width     1.199333
dtype: float64

In [64]:
df.loc[:, df.columns != 'Species'].mean(axis=1)

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
       ...
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64