In [2]:
import pandas as pd

df =pd.read_csv('../data/GNI2014.csv')
df

    iso3                   country      continent  population     GNI
0    BMU                   Bermuda  North America       67837  106140
1    NOR                    Norway         Europe     4676305  103630
2    QAT                     Qatar           Asia      833285   92200
3    CHE               Switzerland         Europe     7604467   88120
4    MAC          Macao SAR, China           Asia      559846   76270
..   ...                       ...            ...         ...     ...
183  COD          Congo, Dem. Rep.         Africa    68692542     380
184  LBR                   Liberia         Africa     3441790     370
185  CAF  Central African Republic         Africa     4511488     320
186  BDI                   Burundi         Africa     8988091     270
187  MWI                    Malawi         Africa    14268711     250

[188 rows x 5 columns]

In [4]:
df.iloc[:5]

  iso3           country      continent  population     GNI
0  BMU           Bermuda  North America       67837  106140
1  NOR            Norway         Europe     4676305  103630
2  QAT             Qatar           Asia      833285   92200
3  CHE       Switzerland         Europe     7604467   88120
4  MAC  Macao SAR, China           Asia      559846   76270

In [6]:
# show the number of columns and rows respectively
df.shape

(188, 5)

In [9]:
# show the unique content
df.nunique()

iso3          188
country       188
continent       7
population    188
GNI           182
dtype: int64

In [15]:
#show the population of Norway
df[df['country'] == 'Norway']['population']

1    4676305
Name: population, dtype: int64

In [16]:
# show a list of countries belonging to the European continent
df[df['continent'] == 'Europe']['country']

1                      Norway
3                 Switzerland
5                  Luxembourg
7                      Sweden
8                     Denmark
11                Netherlands
13                    Austria
15                    Finland
16                    Germany
17                    Iceland
18                    Belgium
19                    Ireland
21             United Kingdom
22                     France
24                    Andorra
29                      Italy
30                      Spain
34                   Slovenia
35                     Greece
36                   Portugal
39                      Malta
42                    Estonia
43             Czech Republic
45            Slovak Republic
47                  Lithuania
48                     Latvia
53                     Poland
55                    Hungary
57         Russian Federation
58                    Croatia
73                    Romania
78                   Bulgaria
81                    Belarus
82                 Montenegro
94                     Serbia
101            Macedonia, FYR
103    Bosnia and Herzegovina
105                   Albania
113                    Kosovo
118                   Ukraine
134                   Moldova
Name: country, dtype: object