# CODE 7-9

In [1]:
import pandas as pd

df = pd.read_csv('../data/mtcars.csv')

df_agg = df.groupby(['cyl', 'vs']).max()
df_agg

                   model   mpg   disp   hp  drat     wt   qsec  am  gear  carb
cyl vs
4   0      Porsche 914-2  26.0  120.3   91  4.43  2.140  16.70   1     5     2
    1         Volvo 142E  33.9  146.7  113  4.93  3.190  22.90   1     5     2
6   0      Mazda RX4 Wag  21.0  160.0  175  3.90  2.875  17.02   1     5     6
    1            Valiant  21.4  258.0  123  3.92  3.460  20.22   0     4     4
8   0   Pontiac Firebird  19.2  472.0  335  4.22  5.424  18.00   1     5     8