# CODE 7-2
## Handling values in data frames

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/iris.csv')
df.iloc[0,1] = pd.NA ; df.iloc[0,2] = pd.NA
df.iloc[1,2] = np.nan ; df.iloc[2,3] = None

df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           NaN          0.2  setosa
2           4.7          3.2           1.3          NaN  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Check missing values

In [4]:
df.isnull().sum()
df.isnull().sum(axis=1)
df.loc[df.isnull().any(axis=1)>0, :]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           NaN          0.2  setosa
2           4.7          3.2           1.3          NaN  setosa

## Removing missing values

In [ ]:
df = df.dropna() # Eliminates rows with missing values
df = df.reset_index(drop=True) # initialize index
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           4.6          3.1           1.5          0.2  setosa
1           5.0          3.6           1.4          0.2  setosa
2           5.4          3.9           1.7          0.4  setosa
3           4.6          3.4           1.4          0.3  setosa
4           5.0          3.4           1.5          0.2  setosa