# CODE 7-1
## Handling missing values in a series

In [30]:
import pandas as pd

score = pd.Series([30,20,40, pd.NA, 30, pd.NA])
score

0      30
1      20
2      40
3    <NA>
4      30
5    <NA>
dtype: object

In [31]:
score.sum()

120

In [32]:
score.mean()

np.float64(30.0)

In [33]:
score + 5

0      35
1      25
2      45
3    <NA>
4      35
5    <NA>
dtype: object

In [34]:
pd.isna(score)

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [35]:
pd.isna(score).sum()

np.int64(2)

In [36]:
score.size

6

In [37]:
score.count()

np.int64(4)

In [38]:
pd.notna(score)

0     True
1     True
2     True
3    False
4     True
5    False
dtype: bool

In [39]:
pd.notna(score).sum()

np.int64(4)

In [40]:
score = score.dropna()
score

0    30
1    20
2    40
4    30
dtype: object

In [41]:
score = score.reset_index(drop=True)
score

0    30
1    20
2    40
3    30
dtype: object