# CODE 7-5
## SORTING

In [2]:
import pandas as pd

df = pd.read_csv('../data/iris.csv')


df_sorted = df.sort_values(by='Sepal_Length')
df_sorted.head(10)

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
13           4.3          3.0           1.1          0.1  setosa
8            4.4          2.9           1.4          0.2  setosa
42           4.4          3.2           1.3          0.2  setosa
38           4.4          3.0           1.3          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa
22           4.6          3.6           1.0          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
47           4.6          3.2           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa

In [4]:
df_sorted = df.sort_values(by='Sepal_Length', ascending=False)
df_sorted.head(10)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
131           7.9          3.8           6.4          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
105           7.6          3.0           6.6          2.1  virginica
130           7.4          2.8           6.1          1.9  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
129           7.2          3.0           5.8          1.6  virginica

In [6]:
df_sorted = df.sort_values(['Species', 'Sepal_Length'])
df_sorted.head(10)

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
13           4.3          3.0           1.1          0.1  setosa
8            4.4          2.9           1.4          0.2  setosa
38           4.4          3.0           1.3          0.2  setosa
42           4.4          3.2           1.3          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa
3            4.6          3.1           1.5          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
22           4.6          3.6           1.0          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa