# CODE 7-8
## Data Aggregation and Merging

In [2]:
import pandas as pd

df = pd.read_csv('../data/iris.csv')

df_agg = df.groupby('Species').mean()

df_agg

            Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [3]:
df_agg = df.groupby('Species').std()
df_agg

            Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
setosa          0.352490     0.379064      0.173664     0.105386
versicolor      0.516171     0.313798      0.469911     0.197753
virginica       0.635880     0.322497      0.551895     0.274650