In [66]:
import pandas as pd

sales = pd.Series([781, 650, 705, 406, 580,450, 550, 640], index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

sales

A    781
B    650
C    705
D    406
E    580
F    450
G    550
H    640
dtype: int64

In [67]:
len(sales)

8

In [68]:
sales.loc['B']

np.int64(650)

In [69]:
sales.loc['F']

np.int64(450)

In [70]:
sales.iloc[2:5]

C    705
D    406
E    580
dtype: int64

In [71]:
sales[['A', 'B', 'D']]

A    781
B    650
D    406
dtype: int64

In [72]:
sales[(sales < 50) | (sales > 700)]

A    781
C    705
dtype: int64

In [73]:
sales[sales > sales['B']]

A    781
C    705
dtype: int64

In [74]:
sales[sales < 600]

D    406
E    580
F    450
G    550
dtype: int64

In [75]:
sales.mean()

np.float64(595.25)

In [76]:
sales.median()

np.float64(610.0)

In [77]:
sales.std()

np.float64(125.77843330918972)

In [78]:
newTeamA= sales.loc['A'] = 810
newTeamB= sales.loc['B'] = 820
new = newTeamA + newTeamB
new = sales
new

A    810
B    820
C    705
D    406
E    580
F    450
G    550
H    640
dtype: int64

In [79]:
sales.loc['J'] = 400
sales

A    810
B    820
C    705
D    406
E    580
F    450
G    550
H    640
J    400
dtype: int64

In [82]:
sales.drop('J')

A    810
B    820
C    705
D    406
E    580
F    450
G    550
H    640
dtype: int64

In [86]:
sales1 = sales.copy()
sales2 = sales + 500

sales1

A    810
B    820
C    705
D    406
E    580
F    450
G    550
H    640
J    400
dtype: int64

In [85]:
sales2

A    1310
B    1320
C    1205
D     906
E    1080
F     950
G    1050
H    1140
J     900
dtype: int64